.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}
.App header {
  font-size: 46px;
  font-weight: 600;
}
.App footer {
  font-size: 13px;
  margin-top: 20px;
  text-align: center;
}
.App a {
  color: #CC1718;
}