.Meaning h3 {
    color: #CC1718;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
  .Meaning p {
    color: #000000;
    font-size: 14px;
    line-height: 17px;
    margin: 20px 0 10px;
  }
  .Meaning em {
    color: #666666;
    font-size: 13px;
    line-height: 15px;
  }